body{
    background: url(./images/backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    background-position-y: top;
    background-attachment: fixed;
    color:aliceblue;
    font-family: 'Poppins','Roboto';
}

.navbar{
    background-color: hsl(0, 0%, 7%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    position: sticky;
    top: 0;
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: hsl(350, 100%, 75%);
    text-shadow: 2px 2px 1px hsl(350, 44%, 33%);
}

.navbar ul{
    list-style: none;
    display: flex;
    gap:12px;
}

.navbar ul a{
    text-decoration: none;
    color: aliceblue
}

.navbar ul a:hover{
    color: rgb(187, 213, 42);
}

.add-section{
    padding:6px;
    height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top:60px;
}

.add-section button{
    height: 100%;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    background-color: hsl(120, 40%, 72%);
    transition: 150ms ease-in-out;
}

.add-section button:hover{
    background-color: hsl(120, 48%, 69%);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-auto-rows: auto;
    padding: 24px;
    gap: 32px;
    justify-content: center;
}

.card{
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 18%);
    box-shadow: 0px 0px 8px hsl(350, 43%, 55%);
    padding: 16px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;

    transition: 150ms ease-in-out;
}

.card.completed{
    box-shadow: 0px 0px 8px rgb(0, 168, 0);
}
.card img{
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.card button{
    align-self: flex-end;
    display: flex;
    border: 2px solid rgb(144, 0, 0);
    border-radius: 10px;
    background-color: hsl(0, 100%, 79%);
    transition: 150ms ease-in-out;

}

.card button:hover{
    background-color: hsl(0, 69%, 68%);
}

dialog{
    border: 1px solid rgb(53, 53, 53);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: hsl(0, 0%, 10%);
    color: aliceblue;
}

dialog::backdrop{
    background: rgba(0,0,0,0.5);
}
form{
    display: flex;
    gap:4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding: 8px;
    border-radius: 8px;
}

@media screen and (min-width: 1015px) {

  .navbar{
    padding-left: 20px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .navbar ul{
    gap:20px;
  }
}
